<!DOCTYPE html>
<html>
  <head>
    <title>Dublinbikes</title>

    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script type="text/javascript">
      function addButtons(stat_id){
        buttons = "<b>Average Occupancy: </b><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 1)\">Monday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 2)\">Tuesday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 3)\">Wednesday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 4)\">Thursday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 5)\">Friday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 6)\">Saturday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 0)\">Sunday</button>";
        document.getElementById("buttons").innerHTML = buttons;
      }
      function getDataframe(num,day) {
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);
        var numb = num;
        var d;
      }
    </script>
    <script>
      infoArray = []
      // 前两位是五十
      const key = "b3e4b1972f05f68760a2caaece786ed0bda969"
        function initMap() {
            new Promise((resolve, reject)=>{
                url = "https://api.jcdecaux.com/vls/v1/stations?apiKey="+key+"&contract=Dublin"
                myRequest = new XMLHttpRequest();
                myRequest.open('GET', url, true);
                myRequest.send();
                myRequest.onreadystatechange = ()=>{
                    if (myRequest.readyState == 4 && myRequest.status == 200){
                        var myjson = myRequest.responseText
                        var bikes = JSON.parse(myjson)
                        resolve(bikes)
                    }
                }
            }).then((bikes)=>{
                console.log(bikes);
                // The location of Dublin
                const center = { lat: 53.349562, lng: -6.278198 };
                // The map, centered at Dublin
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 13,
                  center: center,
                });
                // The marker, positioned at Dublin
                marks=[];
                for(var i = 0; i < bikes.length;i++){
                    const marker = new google.maps.Marker({
                        position: bikes[i]['position'],
                        title : bikes[i]['name'],
                        station_number : bikes[i]['number'],
                        map: map,
                    });
                    marks.unshift(marker);
                    google.maps.event.addListener(marker, 'click', function() {
                    
                      for (var i=0;i<infoArray.length;i++) {
                          infoArray[i].close();
                      }
                      var infowindow = new google.maps.InfoWindow();
                      infoArray.push(infowindow);
                      /* Creates information box including bike and stand availability with the option for more info. The more info button will display a graph of the average occupancy for that station for the current day. For example if the web page is loaded on a monday, all info buttons will return plot a graph of the average occupancy for a full monday. The realtime data is updated every 5 minutes to ensure the user sees regularly up to date info.*/
                      contentString = '<div id = "content"><h3>' + bikes[i]['name'] + '</h3></div>' + '<div id="station_availability"><h3>Bikes available: ' + bikes[i]['available_bikes'] + '<br> Stands available: ' + bikes[i]['available_bike_stands'] + '</h3><button type="button" onclick = "getDataframe(' + bikes[i]['number'] + ',' + new Date().getDay() + ');addButtons('+ bikes[i]['number'] + ')">More Info</button></div>';
                      infowindow.setContent(contentString);
                      infowindow.open(map, marker);
                    });
                }
            })
        }
    </script>
  </head>
  <body>
    <h3>DublinBike Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=PW&callback=initMap&libraries=&v=weekly";
      async
    ></script>
  </body>
</html>