<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>"base"</title>
</head>
<body>
    <h1>base</h1>
    <form action="/map" method="POST">
        <div class="input">
            <input id="username" placeholder="Username" type="text" required class="validate" autocomplete="off">
        </div>

        <div class="input">
            <input id="password" placeholder="Password" type="password" required class="validate" autocomplete="off">
        </div>
        <input type="submit" value="Log In" />
    </form>
    <!-- <form method="post" action="/map">
        Name <input type="text" name="title" autocomplete="off" required>
        Year <input type="text" name="year" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Add">
    </form> -->
</body>
</html>